.helpframe {
	background-color: #fc831a;
	margin: 2% 0%;
	padding: 2% 0%;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	
}

.helpframe h3 {
	text-align: center;
}

.helpobjects {
	display: flex;
}

.helpbuttons {
	width: 25%;
	border: 2px solid #297a7d;
	border-radius: 5px;
	display: block;
	margin-left: 1%;
	padding: 1% 1%;
}

.helpbuttons button {
	width: 100%;
	box-shadow: none !important;
	margin: 1% 0%;
}

.helpcontent {
	width: 72%;
	margin-left: 1%;
	background-color: #297a7d;
	border-radius: 5px;
}

.helpcontent .content img {
	height: 100%;
	width: 25%;
	background-color: #297a7d;
	border-radius: 10px;
}

.helpcontent .content {
	width: 98%;
	display: flex;
	padding: 1%;
	background-color: white;
	border-radius: 5px;
	margin: 1% 1%;
	opacity: 0;
	animation-duration: 0.25s;
	animation-name: helpanim;
	animation-timing-function: ease-out;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
}

.helpcontent .content div {
	border-left: 2px solid #297a7d;
	border-right: 2px solid #297a7d;
	margin-left: 1%;
}

.helpcontent .content div h4 {
	border-bottom: 2px solid #297a7d;
	width: 98%;
	margin-left: 1%;
	font-weight: bold;
}

.helpcontent .content div p {
	width: 98%;
	margin-left: 1%;
}

#content1 {
	animation-delay: 0.5s;
}

#content2 {
	animation-delay: 1.0s;
}

#content3 {
	animation-delay: 1.5s;
}

@keyframes helpanim {
	0%   {opacity: 0;}
	100% {opacity: 1;}
  }

.generalnav,
.startpage,
.booksearch,
.dologin {
	display: none;
}

@media (max-width: 992px) 
{
	.helpobjects {
		display: block;
	}

	.helpbuttons{
		width: 80%;
		margin-left: 10%;
		border-bottom: 2px solid #297a7d;
	}

	.helpcontent {
		width: 90%;
		margin-left: 5%;
	}

	.helpcontent .content div h4 {
		font-size: 0.9em;
	}

	.helpcontent .content div p {
		font-size: 0.9em;
	}

	.helpcontent .content img {
		height: 100%;
		width: 35%;
		background-color: #297a7d;
		border-radius: 10px;
	}
}

@media (max-width: 768px) 
{
	.helpobjects {
		display: block;
	}

	.helpbuttons{
		width: 80%;
		margin-left: 10%;
		border-right: none;
		border-bottom: 2px solid #297a7d;
	}

	.helpcontent {
		width: 90%;
		margin-left: 5%;
	}

	.helpcontent .content div h4 {
		font-size: 0.8em;
	}

	.helpcontent .content div p {
		font-size: 0.8em;
	}

	.helpcontent .content img {
		height: 100%;
		width: 35%;
		background-color: #297a7d;
		border-radius: 10px;
	}
}