
.container-contato{
  width: 80%;
  margin: 4% 10%;
}

.container-contato .contact-form {
  width: 100%;
  border-radius: 7px;
  background: #fc831a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-contato .contact-form .title {
  text-align: center;
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #242424;
  margin-top: 2%;
}
.container-contato .contact-form .subtitle {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 2%;
}

#contactcol
 {
  width: 25% !important;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  color: #242424;
}

.container-contato .contact-form input {
  padding: 4%;
  border: 0.2em solid white;
  border-radius: 5px;
}

.container-contato .contact-form input:focus {
  outline: none; /*Remove o outline de selecao, deixando apenas a cor abaixo*/
  border-color: #297a7d;
}

.container-contato .contact-form textarea {
  width: 90%;
  padding: 1%;
  margin: 0% 5%;
  color: #242424;
  border: 0.2em solid white;
  border-radius: 5px;
}

.container-contato .contact-form textarea:focus {
  outline: none;
  border-color: #297a7d;
}

.container-contato .contact-form input::placeholder,
.container-contato .contact-form textarea::placeholder {
  color: #242424;
}
.container-contato .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #297a7d;
  font-weight: 800;
  margin: 2% 5%;
  border: 0.2em solid #297a7d;
  border-radius: 5px;
  background-color: white;
  transition-duration: 0.2s;
}

.container-contato .contact-form .btn-send:hover {
  background-color: #297a7d;
  color: white;
}

.container-contato .contact-form .btn-send:active {
  background-color: #ef2f54 !important;
  border-color: #ef2f54;
}

#contactinfo {
  margin: auto;
  column-gap: 2% !important;
  display:flex !important;
}

#customControlInline {
  width: 2em;
  height: 2em;
  margin-top: 1em;
  margin-left: 5%;
  transform: translateY(0.5em);
}