#footer_links {
    text-align: left;
}

#footer_data {
    justify-content: center;
    align-content: center !important;
}

.footer_logo {
    align-content: center;
    width: 15em;
}

.texto_copyright {
    align-content: center !important;
    text-align: center;
}

.bg-dark {
    background-color: #fc831a !important;
}

.container_footer{
    background-color: #297a7d;
    color: white;
}

#mainfooter{
    background-color: #f1f1f1 !important;
}

#mapsbutton {
    box-shadow: none;
    border: 2px solid #fc831a;
}

#socialmediabutton {
    box-shadow: none;
}

#mapsbutton:active {
    background-color: #ef2f54 !important;
    border-color: #ef2f54 !important;
}

.mapsframe {
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 19em !important;
    height: 10em !important;
    border-style: solid;
    border-color: #fc831a;
    border-width: 0.2em;
    border-radius: 5px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 992px) 
{
    .mapsframe {
        align-content: center;
        align-self: center;
        justify-content: center;
        width: 100% !important;
        height: 40vw !important;
        border-style: solid;
        border-color: #fc831a;
        border-width: 0.2em;
        border-radius: 5px;
        display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}