#footer_links {
    text-align: left;
}

#footer_data {
    justify-content: center;
    align-content: center !important;
}

.footer_logo {
    align-content: center;
    width: 15em;
}

.texto_copyright {
    align-content: center !important;
    text-align: center;
}

.bg-dark {
    background-color: #fc831a !important;
}

.modal-header {
    justify-content: center;
    text-align: center;
    margin-bottom: 4em;
}

.container_footer{
    background-color: #297a7d;
    color: white;
}

#mainfooter{
    background-color: #f1f1f1 !important;
}

#mapsbutton:active {
    background-color: #ef2f54 !important;
    border-color: #ef2f54 !important;
}

.mapsframe {
    border-style: solid;
    border-color: red;
    border-width: 0.2em;
    border-radius: 5px;
    display: none;
}