html, body {
    margin: 0 !important;
}

.mainpage {
    filter: blur(0px); /*Used to blur the background when the login window appears*/
    animation-duration: 0.5s;
    transition-duration: 0.5s;
}

#carouselcontainer {
    margin-bottom: 0px;
    padding: 0px !important;
    position: relative;
}

div.slick-list.draggable {
    padding: 0px !important;
    height: 100% !important;
    margin: auto;
}

/*Código para demonstração da navegação por gestos em telas pequenas*/
.gesture_frame {
    display: none;
    position:absolute;
    top: 15%;
    height: 70%;
    width: 100%;
    background-color: white;
    z-index: 2;
    opacity: 0.0;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0px 0px 4px 5px white;
    animation-duration: 3s;
    animation-name: gestureopacity;
    animation-timing-function:linear;
}

@keyframes gestureopacity {
    0%   {opacity:    0;}
    15%  {opacity:  0.8;}
    50%  {opacity:  0.8;}
    85%  {opacity:  0.8;}
    100% {opacity:    0;}
  }


.gesture_frame img {
    position: absolute;
    top: 25%;
    left: 0%; /*Usado para animar a imagem de gestos*/
    width: 100%;
    height: 50%;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-name: showgesture;
    animation-timing-function: cubic-bezier(1.5,0,0,0.5);
}

@keyframes showgesture {
    0%   {left:   0%;}
    25%  {left:  20%;}
    50%  {left:   0%;}
    75%  {left: -20%;}
    100% {left:   0%;}
  }
/*Fim do código da animação de gestos*/

/*Propriedades do carrossel de imagens Slick*/
div.slick-list.draggable {
    margin: auto;
    height: 100% !important;
}

.center.slider.slick-initialized.slick-slider.slick-dotted {
    margin-bottom: 1.75%;
}

ul.slick-dots {
    background-color: #297a7d;
}

.slick-dots li button:before {
    color: #ef2f54;
    opacity: 0.7;
  }

.slick-dots li.slick-active button:before {
    color:#fc831a !important;
}

.slick-prev{
    left: 1%;
    z-index: 1;
}

.slick-next{
    right: 2%;
    z-index: 1;
}

.slick-prev:before { content: "<"; }
.slick-next:before { content: ">"; }

.slick-prev:before,
.slick-next:before {
    color: #fc831a !important;
    font-weight: bolder;
    font-size: 50pt;
    transform:scale(25pt);
    text-shadow: 0px 0px 2px black;
    opacity: 0.4;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: showarrows;
    animation-timing-function: cubic-bezier(1.5,0,0,0.5);
}

@keyframes showarrows {
    0%   {opacity: 1;}
    20%  {opacity: 0.1;}
    40%  {opacity: 1;}
    60%  {opacity: 0.1;}
    80%  {opacity: 1;}
    100% {opacity: 0.1;}
  }

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 0;
    transform: scale(0.8);
    width: 100%;
}

.slick-active {
    opacity: 1;
    transform: scale(1.75);
}

.slick-current {
    opacity: 1;
    transform: scale(1);
    height: 100%;
}

.center.slider {
    aspect-ratio: 18/6;
}

#mainpageinfo {
    aspect-ratio: 18/6;
    column-gap: 0px;
    margin-left: 0px;
    display:flex !important;
    height: 100%;
}

#maincol1 {
    height: 100%;
    width: 70% !important;
    padding: 0px;
    background-color: lightgray;
}

#maincol2 {
    overflow: hidden;
    height: 100%;
    width: 30% !important;
    padding: 1%;
    background-color: #297a7d;
    color: white;
}

@media (max-width: 992px) 
{
    #mainpageinfo {
        margin-left: 0px;
        aspect-ratio: 18/6;
        font-size: 0.8em;
    }

    .gesture_frame{
        display:block;
    }

    div.slick-list.draggable {
        padding: 0px !important;
        height: 100% !important;
        margin: auto;
    }

    #carouselcontainer {
        padding: 0px !important;
    }

    button.slick-arrow {
        display: none !important;
    }

    ul.slick-dots {
        display: none !important;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }
}

@media (max-width: 768px) 
{
    .center.slider {
        aspect-ratio: 18/18;
    }

    #mainpageinfo {
        display:block !important;
        aspect-ratio: 18/9;
        font-size: 1.1em;
    }

    #maincol1 {
        height: 100%;
        width: 100% !important;
    }
    
    #maincol2 {
        height: 100%;
        width: 100% !important;
    }
}