.nav-item a:hover {
    background-color: #f76230 !important;
}

.btn-hover:hover{
    background-color: #f76230;
    color: white;
}

.col-fluid.info {
    border-style: solid !important;
    border-radius: 5px !important;
    border-width: 3px !important;
    border-color: blue !important;
    height: 50vh;
    margin-bottom: 1em;
}

#maincol1 {
    width: 65% !important;
}

#maincol2 {
    width: 35% !important;
}

.navbar{
    top: 30px !important;
}

.nav-link{
    font-weight: bold;
}

.mt-2.pt-2.pb-2.footer {
    width: 100% !important;
    text-align: center;
    
    background-color: lightgray !important;
    margin-bottom: 0px;
}

#footer_data {
    justify-content: center;
    align-content: center !important;
}

.footer_logo {
    align-content: center;
    width: 10em;
}

.texto_copyright {
    align-content: center;
    text-align: center;
}

.bg-dark{background-color:#297a7d!important}
