html, body {
    margin: 0 !important;
}

.mainpage {
    filter: blur(0px); /*Used to blur the background when the login window appears*/
    animation-duration: 0.5s;
    transition-duration: 0.5s;
}

#carouselcontainer {
    margin-bottom: 0px;
    padding: 0px;
}

/*Propriedades do carrossel de imagens Slick*/
div.slick-list.draggable {
    margin: auto;
    height: 100% !important;
}

.slick-prev:before,
.slick-next:before {
    color: #fc831a !important;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 0;
    transform: scale(0.8);
    width: 100%;
}

.slick-active {
    opacity: 1;
    transform: scale(1.5);
}

.slick-current {
    opacity: 1;
    transform: scale(1);
    height: 100%;
}

.center.slider {
    aspect-ratio: 16/5;
}

#mainpageinfo {
    aspect-ratio: 16/6;
    column-gap: 0px;
    display:flex !important;
    height: 100%;
}

#maincol1 {
    height: 100%;
    width: 70% !important;
    padding: 0px;
    background-color: lightgray;
}

#maincol2 {
    overflow: hidden;
    height: 100%;
    width: 30% !important;
    padding: 1%;
    background-color: lightslategray;
}

@media (max-width: 992px) 
{
    #mainpageinfo {
        margin-left: 0px;
    }

    div.slick-list.draggable {
        padding: 0px !important;
        height: 100% !important;
        margin: auto;
    }

    #carouselcontainer {
        padding: 0px !important;
    }

    button.slick-arrow {
        display: none !important;
    }

    ul.slick-dots {
        display: none !important;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }
}