.mainpage {
    filter: blur(0px); /*Used to blur the background when the login window appears*/
    animation-duration: 5s;
}

.nav-item a:hover {
    background-color: #297a7d !important;
}

.btn-light:hover {
    background-color: #297a7d !important;
    color: white;
}

.nav-item a:active {
    background-color: rgb(220, 35, 15) !important;
}

.btn-hover:hover{
    background-color: #297a7d !important;
    color: white;
}

.btn-hover:active {
    background-color: rgb(220, 35, 15) !important;
}


.btn-lg {
    font-size: 1em !important;
}

/*Usado para delimitar os botoes da navbar, ver o html para entender a disposicao dos
botoes.*/
.nav-item.left, 
.nav-item.center,
.nav-item.right
{
    border-width: 0px 2px !important;
    border: solid #297a7d;
}

/*Coluna principal, a ser desenvolvida*/
#mainpageinfo {
    border-style: solid !important;
    border-radius: 5px !important;
    border-width: 3px !important;
    border-color: #ef2f54 !important;
    height: 50vh;
    margin-bottom: 1em;
}

#maincol1 {
    width: 65% !important;
    background-color: lightgray;
}

#maincol2 {
    width: 35% !important;
    background-color: lightslategray;
}

.navbar{
    top: 30px !important;
}

.nav-link{
    font-weight: bold;
}

.mt-2.pt-2.pb-2.footer {
    width: 100% !important;
    text-align: center;
    
    background-color: lightgray !important;
    margin-bottom: 0px;
}

#footer_links {
    text-align: left;
}

#footer_data {
    justify-content: center;
    align-content: center !important;
}

.footer_logo {
    align-content: center;
    width: 10em;
}

.texto_copyright {
    align-content: center;
    text-align: center;
}

.bg-dark {
    background-color: #fc831a !important;
}

.modal-header {
    justify-content: center;
    text-align: center;
    margin-bottom: 4em;
}