html, body {
    margin: 0 !important;
}

.mainpage {
    filter: blur(0px); /*Used to blur the background when the login window appears*/
    animation-duration: 0.5s;
    transition-duration: 0.5s;
}

#carouselcontainer {
    margin-bottom: 0px;
}

/*Propriedades do carrossel de imagens Slick*/
.slick-prev:before,
.slick-next:before {
    color: #fc831a !important;
}

.slick-dots{
    width: 100%;
    border: solid red 2px;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: 0;
    transform: scale(0.8);
}

.slick-active {
    opacity: 1;
    transform: scale(1.5);
}

.slick-current {
    opacity: 1;
    transform: scale(1);
    height: 100%;
}

.center.slider {
    aspect-ratio: 16/5;
}

#mainpageinfo {
    aspect-ratio: 16/6;
    column-gap: 0px;
    display:flex !important;
}

#maincol1 {
    height: 100%;
    width: 70% !important;
    background-color: lightgray;
}

#maincol2 {
    height: 100%;
    width: 30% !important;
    background-color: lightslategray;
}
