.mainpage {
    filter: blur(0px); /*Used to blur the background when the login window appears*/
    animation-duration: 0.5s;
}

#carouselcontainer {
    margin-top: -1em !important;
}

/*Coluna principal, a ser desenvolvida*/
#mainpageinfo {
    border-style: solid !important;
    border-radius: 5px !important;
    border-width: 3px !important;
    border-color: #ef2f54 !important;
    height: 25em;
    margin: auto;
    column-gap: 0px;
    display:flex !important;
}

/*Propriedades do carrossel de imagens Slick*/
.slick-prev:before,
.slick-next:before {
    color: #fc831a;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .1;
    transform: scale(0.91);
}

.slick-active {
    opacity: 0.2;
    transform: scale(0.95);
    width: 100%;
}

.slick-current {
    opacity: 1;
    transform: scale(1);
    height: 100%;
}

.center.slider {
    border: solid blue 2px;
    margin-bottom: 1.5em;
}

#maincol1 {
    height: 100%;
    width: 65% !important;
    background-color: lightgray;
}

#maincol2 {
    height: 100%;
    width: 35% !important;
    background-color: lightslategray;
}
