.nav-item a:hover{
    background-color: rgb(230, 34, 0) !important;
}

.col-fluid.info {
    border-style: solid !important;
    border-radius: 5px !important;
    border-width: 0.25rem !important;
    border-color: blue !important;
}

#maincol1 {
    width: 65% !important;
}

#maincol2 {
    width: 35% !important;
}

.navbar{
    top: 30px;
}

.nav-link{
    font-weight: bold;
}