/* Altera o fundo do card principal*/
.user_card {
	height: 400px;
	width: 350px;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	background: #fc831a;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0.2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

/*Configurações da Logo - PS: Alterações aqui afetam o aspecto de exibição*/
.brand_logo_container {
	height: 8em;
	width: 8em;
	border-radius: 50%;
	margin-bottom: 0.6em;
	background: #ffffff;
	text-align: center;
}

/*Configurações da Logo - PS: Alterações aqui afetam o aspecto de exibição*/
.brand_logo {
	height: 8em;
	width: 8em;
	border-radius: 50%;
	border: 0.2em solid white;
}
.form_container {
	margin-top: 0.1em;
}
.login_btn {
	width: 100%;
	background: white !important;
	color: black !important;
}

.login_btn:hover {
	width: 100%;
	background: #297a7d !important;
	color: white !important;
}

.login_btn:active {
	width: 100%;
	background: #ef2f54 !important;
	color: white !important;
}

/*Configurações ainda necessárias para se ter alterações visíveis*/
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #297a7d !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.form-control.input_user,
.form-control.input_pass {
	box-shadow: none !important;
	padding: 0% !important; /* Faz as barras de texto terem a mesma altura dos icones*/
}

/*Altera a cor da checkbox do remember-me*/
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #383636 !important;
}

#logintextbox {
	border: 0.2em solid white;
	border-radius: 0.1em;
}

#logintextbox:focus {
	border-color: #297a7d;
}

#closelogwindow {
	background-color: #ef2f54 !important;
	border-color: #ef2f54 !important;
}

#closelogwindow:hover {
	background-color: #297a7d !important;
	border-color: #297a7d !important;
}

#closelogwindow:active {
	background-color: lightpink !important;
	border-color: lightpink !important;
}

#linktext {
	color: #297a7d !important;
}

#linktext:visited {
	color: #245a5d !important;
}

#linktext:hover {
	color: #498fa3 !important;
}

#linktext:active {
	color: #ef2f54 !important;
}