.nav-item a:hover {
    background-color: #297a7d !important;
}

.btn-light:hover {
    background-color: #297a7d !important;
    border-color: #297a7d !important;
    color: white;
}

.nav-item a:active {
    background-color: #ef2f54 !important;
}

.btn-hover:hover{
    background-color: #297a7d !important;
    border-color: #297a7d !important;
    color: white;
}

.btn-hover:active {
    background-color: #ef2f54 !important;
}

.btn-lg {
    font-size: 1em !important;
    border-radius: 0%;
}

/*Usado para delimitar os botoes da navbar, ver o html para entender a disposicao dos
botoes.*/
.nav-item.left, 
.nav-item.center
{
    border-width: 0px 2px !important;
    border: solid #297a7d;
}

.nav-item.right
{
    border-width: 0px 2px 0px 0px !important;
    border: solid #297a7d;
}

.navbar{
    margin-bottom: 0px !important;
}

.nav-link{
    font-weight: bold;
}

#loginbutton:active {
    background-color: #ef2f54 !important;
}

.loginbuttonimg {
    width: 0.1em;
    height: 0.1em;
}

#bia_logo_nav {
    width: 2.25em;
    height: 2.25em;
}

@media (max-width: 992px) 
{
    .navbar-brand img {
        display: none !important;
    }

    #loginbutton,
    #searchbutton {
        display: block;
        width: 100%;
        background-color: #fc831a;
        border-color:#fc831a;
        font-size: 1em;
        font-weight: bold;
        text-align: left;
        color: white;
        border: solid#297a7d;
        border-radius: 0px;
        border-width: 0px 2px !important;
        padding-left: 0px;
    }

    #loginbutton img,
    #searchbutton img {
        display: none !important;
    }

    #loginbutton:focus {
        box-shadow: 0px;
    }

    .nav-item,
    .nav-item.left, 
    .nav-item.right,
    .nav-item.center
    {
        border-width: 0px 2px !important;
        border: solid #297a7d;
    }

    .collapse.navbar-collapse ul {
        margin-bottom: 2em;
    }
}