.aboutcontent {
	display:block;
	margin: 2% 0%;
}

.aboutcontent .content {
	width: 100%;
	display: flex;
	padding: 1%;
}

.aboutcontent .content img {
	width: 40%;
	border-radius: 5px;
}

.aboutcontent .content div {
	width: 60%;
}

.aboutcontent .content div h2 {
	border-bottom: 2px solid black;
	width: 96%;
	margin-left: 2%;
}

#content1,
#content3 {
	background-color: #5badaf;
}

#content2 {
	background-color: #ffa64d;
}