.aboutcontent {
	display:block;
	margin: 2% 0%;
}

.aboutcontent .content {
	width: 100%;
	display: flex;
	padding: 1%;
}

.aboutcontent .content img {
	width: 40%;
	border-radius: 5px;
	height: 100%;
}

.aboutcontent .content div {
	width: 60%;
}

.aboutcontent .content div h2 {
	border-bottom: 2px solid black;
	width: 96%;
	margin-left: 2%;
}

.aboutcontent .content div p {
	width: 96%;
	margin-left: 2%;
}

#content1,
#content3 {
	background-color: #5badaf;
}

#content2 {
	background-color: #ffa64d;
}

@media (max-width: 1200px) 
{
	.aboutcontent .content div p {
		font-size: 0.95em;
	}
}

@media (max-width: 992px) 
{
	.aboutcontent .content div h2 {
		font-size: 1.2em;
	}

	.aboutcontent .content div p {
		font-size: 0.80em;
	}
}

@media (max-width: 768px) 
{
	.aboutcontent .content div h2 {
		font-size: 0.85em;
	}
	
	.aboutcontent .content div p {
		font-size: 0.75em;
	}
}